<h1>edit reservations</h1>
<!--エラーが出たらフラッシュメッセージを表示 -->
<% if flash[:notice] %>
  <%= notice %><br>
<% end %>

<div class="new_movie_form">
  <div class="forms">
    <%= form_with model:[:namespace, @reservation], url: {action: :update} do |f| %>
      <%= f.label :date %>
      <%= f.text_field :date %><br>

      <%= f.label :schedule_id %>
      <%= f.text_field :schedule_id %><br>

      <%= f.label :sheet_id %>
      <%= f.text_field :sheet_id %><br>

      <%= f.label :email%>
      <%= f.text_field :email %><br>

      <%= f.label :name %>
      <%= f.text_field :name%><br>

      <%= f.submit "submit reservation", class: "btn btn-primary" %><br>
    <% end %>
    <%= button_to 'delete reservation', "/admin/reservations/#{@reservation.id}", data: { confirm: "本当によろしいですか？" }, method: :delete %>
  </div>
</div>