<h1>Movies</h1> 

<% if flash[:notice] %>
  <%= notice %><br>
<% end %>

<table>
    <% @movies.each do |movie| %>
        <a href= "/admin/movies/<%= movie.id %>"><%= movie.id %></a><br>
        <%= movie.name %><br>
        <%= movie.year %><br>
        <%= safe_join(movie.description.split("\n"),tag(:br)) %><br>
        <a href= <%= movie.image_url %>>画像</a><br>

        <% if movie.is_showing == true %>
          <p>公開中</p>
        <% else %>
          <p>公開予定</p>
        <% end %>

        <%= movie.created_at%><br>
        <%= movie.updated_at %><br>
        <p>---------------------------</p>
    <% end %>
</table> 
